= simple_form_for @product, html: { multipart: true } do |f|
  - if @product.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        = 'prohibited this product from being saved:'

      %ul
        - @product.errors.full_messages.each do |message|
          %li
            = message

  = f.input :name , required: true, input_html: { size: 50 }

  - if @product.image.persisted?
    .control-group
      = f.label :image
      .controls
        = image_tag @product.image.url(:mini)
  = f.simple_fields_for :image do |i|
    = i.input :cloudinary, as: :file, label: 'Select image'

  %div.actions
    = f.submit